/.classpath
/.project
/.settings
/nbproject
/build.xml
/target
.*.sw[a-p]
/build
/bin
/dist
/manifest.mf
/MANIFEST.MF
/META-INF/MANIFEST.MF
git.properties
.ssh
key
key.pub
.DS_Store
*.iml
*.ipr
*.iws
.idea/